.main{
  display: flex;
  flex-direction: column;
  width: 300px;
  background-color: rgb(77, 77, 77);
  height: 100%;
  /* height: 900px; */
}

.header{
  background-color: black;
  width: 100%;
  height: 50px;
}